<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import Outer from "./components/Outer.vue";
</script>

<template>
  <!-- <h1>Liberate your City from "Premium Out-Of-Home" (POOH):</h1> -->
  <!-- <Outer msg="Block all the Brain-Eating Ads!" /> -->
  <Outer msg="Wo bleibt der Adblocker für die Stadt? Entferne die nervende Werbung und pflanze Bäume!"/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
</style>
